@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100&display=swap');

body {
    font-family: Asap, "sans-serif";
}

header.header {
    display: flex;
    align-items: center;
}

section.top-page {
    background-color: #F1F0FF;
    height: 170px;
    padding: 25px;
}

img {
    width: 150px;
    height: 150px;
}

nav {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: black;
    border-radius: 10px;
    list-style-type: none;
}

#accueil {
    margin-right: 100px;
}

#compte {
    margin-right: 100px;
}

.elementleft {
    background-color: #F1F0FF;
    width: 400px;
    height: 350px;
    margin-right: 100px;
}

h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

.informations {
    text-align: center;
}

input {
    border-color: #00080E;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    background-color: #00080E;
    opacity: 0.6;
    cursor: pointer;
    margin-top: 10px;
    font-size: 10px;
}